@page

@model OrchardCore.Application.Pages.ViewModels.LoginViewModel

@{
    Layout = "";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Username">Name</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="submit" value="Login" />
</form>